html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f8f8f8;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

body {
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

textarea {
    display: block;
    margin: 10px auto;
    border-radius: 5px;
    font-size: 1.8em;
    text-align: right;
    width: 90%;
    max-width: 400px;
    height: 60px;
    padding: 10px;
}

#opac {
    opacity: 0.25;
    height: 24px;
    width: 90%;
    max-width: 400px;
    margin: 0 auto 10px auto;
    text-align: right;
    font-size: 1em;
}

table {
    margin: 0 auto;
    width: 90%;
    max-width: 400px;
    table-layout: fixed;
}

button {
    width: 100%;
    height: 60px;
    font-size: 1.2em;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-danger {
    background-color: #BC1E22;
    border-color: #a1181d;
    color: white;
}

.btn-danger:hover,
.btn-danger:focus {
.btn-danger:active {
    background-color: #841519;
    border-color: #580e11;
    color: white;
}

.btn-info {
    background-color: #0870e0;
    border-color: #0661c2;
    color: white;
}

.btn-info:hover,
.btn-info:focus {
.btn-info:active {
    background-color: #054a94;
    border-color: #043162;
    color: white;
}

button i.material-icons {
    font-size: 1.7em;
    color: #394A59;
    vertical-align: middle;
    line-height: 1;
}