html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f8f8f8;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

body {
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

textarea {
    display: block;
    margin: 10px auto;
    border-radius: 5px;
    font-size: 1.8em;
    text-align: right;
    width: 90%;
    max-width: 400px;
    height: 60px;
    padding: 10px;
}

#opac {
    opacity: 0.25;
    height: 24px;
    width: 90%;
    max-width: 400px;
    margin: 0 auto 10px auto;
    text-align: right;
    font-size: 1em;
}

table {
    margin: 0 auto;
    width: 90%;
    max-width: 400px;
    table-layout: fixed;
}

button {
    width: 100%;
    height: 60px;
    font-size: 1.2em;
    margin: 2px;
}

button i.material-icons {
    font-size: 1.5em;
}

.active-icon {
  color: black;
  width: 80px;
  height: 80px;
}

.other-icon {
  color: grey;
  width: 40px;
  height: 40px;
}

